.stx-title-wrapper .stx-title, .stx-title-wrapper .stx-subtitle {
  padding: 0;
  margin: 0;
  line-height: 1; }

.stx-title-wrapper .stx-subtitle {
  margin-top: 20px; }

.stx-title-wrapper .stx-description p {
  margin: 10px 0 0 0;
  padding: 0; }

.stx-title-wrapper.stx-align-left {
  text-align: left; }

.stx-title-wrapper.stx-align-center {
  text-align: center; }

.stx-title-wrapper.stx-align-right {
  text-align: right; }

@media (max-width: 991px) {
  .stx-title-wrapper.stx-align-md-left {
    text-align: left; }
  .stx-title-wrapper.stx-align-md-center {
    text-align: center; }
  .stx-title-wrapper.stx-align-md-right {
    text-align: right; } }

@media (max-width: 480px) {
  .stx-title-wrapper.stx-align-sm-left {
    text-align: left; }
  .stx-title-wrapper.stx-align-sm-center {
    text-align: center; }
  .stx-title-wrapper.stx-align-sm-right {
    text-align: right; } }
